body {
  padding: 0 20px;
}

img {
  width: 30%;
  height: auto;
}

img.icon {
  width: 75px;
  height: 75px;
}

button {
  margin-top: 20px;
  margin-right: 10px;
}

.nav-links-padding {
  padding-top: 25px;
}

.buttons {
  display: flex;
}

.shopping-cart {
  display: flex;
  align-items: baseline;
}
.night-clubs {
  color: rgb(35, 210, 210);
  text-align: center;
}
.night-clubs:hover {
  color: red;
}
.well {
  background-color: rgb(214, 188, 16);
}
.club-list {
  background-image: url('party.jpg');
  margin-top: 30px;
}
.container {
  margin-top: 150px;
}
