body {
  background-color: black;
}
.parallax {
  background-image: url(http://at-ph.s3.amazonaws.com/i/story-20150615193037-hennessy.jpg);
  padding-top: 900px;
  height: 100%;
  width: 100%;

  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.intro {
  text-align: center;
  color: white;
}
