<style media="screen">
#nav{
  background-color: inherit;
  padding-bottom: -110px;

  }

  .knockout {
    color: white;
  }
.head {
  background-color: black;
}
h4 {
  font-size: 25px;
  font-family: fantasy;

}
  </style>

<div class="head">
<nav class="navbar navbar-default navbar-fixed-top" id="nav">
  <div class="container-fluid" id="nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<!-- #################################### -->





  <!-- ######################################     -->
      <div class="knockout">
        {{#link-to 'index'}}
        <img src="https://cdn.shutterstock.com/shutterstock/videos/17834887/thumb/8.jpg">
        {{/link-to}}
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="lin">
      <ul class="nav navbar-nav navbar-right nav-links  ">

        <li>{{#link-to 'store'}}<h4>Clubs </h4>{{/link-to}} </li>
        <li>{{#link-to 'contact'}}<h4>Categories</h4>{{/link-to}} </li>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
  {{outlet}}
