
<style>
h6 {
  font-size: 60px;
  text-align: center;
  font-family: cursive;
  color: white;
}
h8 {
  font-size: 60px;
  text-align: center;
  font-family: fantasy;
}
body {
  background-color: black;
}
img {
  width: 400px;
  height: 250px;
}
img:hover {
  opacity: 0.5;
  transform: scale(1.1);
}
img:hover h10 {
  visibility: visible;
  transition-delay:2s;
}
h10 {
  color: white;
  font-size: 20px;
  text-align: center;
}
jumbotron {
  text-align: center;
  font-size: 30px;
  background-color: #686868;
}
h4 {
  color: black;
  text-align: center;
  font-size: 60px;
}
</style>
<h4>Under 21</h4>


<div class="container-fluid">
  <div class="jumbotron">
<h4>CATEGORIES</h4>
</div>
<div class="titles">
<h6>Nightclubs</h6>
<div class="row">

      <div class="col-md-3">
      <a href="product/-Kpp2-OaRd1dfVNFagAu">
      <img src="https://eatout2.scdn5.secure.raxcdn.com/images/restaurant_gallery/2619-728-1415970234.png">
      <br>
      <h10>Black Diamond</h10>
      </a>
      </div>

<div class="col-md-3">
  <a href="product/-Kpt7EINMC7T40-blTHY">
<img src="http://naibuzz.com/wp-content/uploads/2016/06/CkcLc22UgAELP4Y.jpg">
<br>
<h10>B-Club</h10>
</a>
</div>

      <div class="col-md-3">
        <a href="product/2">
      <img src="http://bkenya.com/wp-content/uploads/2015/04/PARADISE.jpg">
      <br>
      <h10>K1 Klub</h10>
    </a>
      </div>
<div class="col-md-3">
<a href="product/0">
<img src="https://softkenya.com/directory/wp-content/uploads/2013/05/Skylux-Lounge.jpg">
<br>
<h10>Skylux Lounge</h10>
</a>
</div>
<!-- <div class="col-md-2">
  <img src="https://softkenya.com/directory/wp-content/uploads/2016/04/Bars-and-Clubs-in-Kenya.jpg">
  <h10>Florida 2000</h10>
</div>
</div> -->
</div>
</div>


<br>

<div class="titles">
<h6>Restaurants</h6>
<div  class="row">
<a href="/product/1">
<div class="col-md-3">
  <a href="product/1">
<img src="http://www.tribeka.co.ke/wp-content/uploads/2012/12/cropped-cropped-IMG_70642.jpg">
<br>
<h10>Tribeka Lounge</h10>
</a>
</div>
</a>
<div class="col-md-3">
  <a href="product/-KposFU4V4qR20fpSunB">
<img src="https://buzzkenya.com/wp-content/uploads/2015/09/bacchu-lounge-1.jpg">
<br>
<h10>Pavement</h10>
</a>
</div>
<div class="col-md-3">
  <a href="product/-Kpp2zvQibRSOMarBXaC">
<img src="https://yummy.co.ke/wp-content/uploads/2014/09/brew-bistro1.jpg">
<br>
<h10>Brew Bistro</h10>
</a>
</div>
<div class="col-md-3">
  <a href="product/-KpsYi01-pvO9qm8QsPH">
<img src="https://softkenya.com/kenya/wp-content/uploads/2015/05/Nation-Lounge.jpg">
<br>
<h10>Nation Lounge</h10>
</a>
</div>
</div>
</div>


<br>
<div class="titles">
<h6>Bars</h6>
<div class="row">
<div class="col-md-4">
  <a href="product/-KpouATNF28Exo-N61dT">
<img src="http://buzzkenya.com/wp-content/uploads/2015/09/casablanca-nightclub-1.jpg">
<br>
<h10>Casablanca</h10>
</a>
</div>
<div class="col-md-4">
  <a href="product/-Kpp4MTZsFXNnRuSO3bH">
<img src="http://www.chickabouttown.com/wp-content/uploads/2008/04/Mercury-Lounge-Nairobi.jpg">
<br>
<h10>Mercury Lounge</h10>
</a>
</div>
<div class="col-md-4">
  <a href="product/-KptynO-97r2lwDPTA8m">
<img src="https://barskenya.com/media/cache/d8/91/d891a68373d6660348fcca84ac6c7754.jpg">
<br>
<h10>Mojos Lounge and bar</h10>
</a>
</div>
</div>
</div>
</div>
