<style media="screen">
#ju{background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ2jaU9Aq_wC75SRQh46xrIGnpFN9ggSh5wj6oRqHCF-T52NJT-");
background-size: auto 100%;
color: white;
}
/*end of jumbotron*/
    #jum{border-right: thick solid #ff0000;
        border-bottom: thick solid #ffffff;
        border-top: thick solid #ffffff;
        border-left: thick solid #ff0000;
    background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQBEwDzlPN_V_MWeMnexjLwSu2riRTisscT8Ezkhp92urJQ7hjK");
background-size: auto 100%;
}
/*end of DIV one*/


#yy{border-right: thick solid #ff0000;
    border-top: thick solid #ffffff;
    border-bottom: thick solid #ffffff;
    background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQBEwDzlPN_V_MWeMnexjLwSu2riRTisscT8Ezkhp92urJQ7hjK");
background-size: auto 100%;
}
/*end of DIV two*/
</style>



<div class="jumbotron" id="ju">
    <div class="row">
        <div class="col-sm-6" id="jum">


  <h1>Ephie M-Kibanda</h1>
  <p>Get in touch with the best madondo</p>
  {{#link-to 'store'}}<button class='btn btn-success'>View Kibanda</button>{{/link-to}}
  </div>
  <div class="col-sm-6" id="yy">
      <h1>M-Kibanda</h1>
      <p>Connects you with world class delicacies</p>
      {{#link-to 'contact'}}<button class='btn btn-success'>Contact Us</button>{{/link-to}}
  </div>
  </div>
</div>

<!-- this displays the home page -->
