<<<<<<< HEAD
<style>
body {
background-color: black;
}
.parallax {
background-image: url(http://at-ph.s3.amazonaws.com/i/story-20150615193037-hennessy.jpg);
opacity: 0.5;
padding-top: 400px;
height: 100%;
width: 100%;
background-attachment: fixed;
background-size: cover;
position: relative;
}
.intro {
text-align: center;
color: white;
font-size: 40px;
font-family: cursive;
padding-bottom: 500px;
padding-left: 100px;
padding-right: 100px;
}
.image{
  display: inline;
  width: 50%;
}
h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: cursive;
}
button {
  background-color: inherit;
  border-color: yellow;
  color: white;
  font-size: 40px;
}
</style>
=======
<style media="screen">
body{background-image: url("http://cdn.wallpapersafari.com/47/40/GgvzpA.jpg");


}
>>>>>>> 39442a409213656a434b0219dd4f2ef934e18ac5

</style>


<<<<<<< HEAD
<div class="parallax">
<div class="intro">
<p> M Klabu app gives you the latest reviews on major clubs in Nairobi and latest news on events, drink specials and special events</p>
<p></p>
<button>Reviews</button>
</div>
</div>
<div class="container">
  <h1>Clubs</h1>
<div class="image">
    <img src="https://ndchannel.files.wordpress.com/2011/07/ham5107.jpg" />
    <img src="assets/images/havana.jpg" />
</div>
</div>
=======
<body>
  <footer>  {{#link-to 'admin'}}Admin {{/link-to}}</footer>
</body>


<!-- this displays the home page -->
>>>>>>> 39442a409213656a434b0219dd4f2ef934e18ac5
