<style>
body {
background-color: black;
}
.parallax {
background-image: url(http://at-ph.s3.amazonaws.com/i/story-20150615193037-hennessy.jpg);
opacity: 0.5;
padding-top: 500px;
height: 100%;
width: 100%;
background-attachment: fixed;
background-size: cover;
position: relative;
}
.intro {
text-align: center;
color: white;
font-size: 60px;
font-family: cursive;
padding-bottom: 500px;
padding-left: 100px;
padding-right: 100px;
font-weight: bold;
}

h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: cursive;
}
h2 {
  font-family: sans-serif;

  font-size: 40px;
}
button {
  background-color: inherit;
  border-color: yellow;
  color: white;
  font-size: 40px;
}
.img1 {
  background-image: url(http://bestanimations.com/Music/MirrorBalls/disco-ball-animated-gif-18.gif);
  padding-bottom: 200px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: white;
}
.img1:hover {
  transform: scale(1.1);
  opacity: 0.5;
  filter: alpha(opacity=50);
  color: white;
}
.club {
  color: white;
  text-align: center;
}

.img2 {
  background-image: url(https://cdn.dribbble.com/users/599768/screenshots/3032027/map-icon-bar.gif);
  padding-bottom: 200px;
  background-position: top;

  background-size: contain;
  position: relative;
}
.map {
  color: white;
}
.img2:hover {
      transform: scale(1.1);
      opacity: 0.5;
      filter: alpha(opacity=50);
}

.map {
  visibility: visible;
  text-align: center;
}
.img3 {
  background-image: url(https://www.santorini-view.com/files/temp/a69835070cac098ef1ae5f5caa9b7730.jpg);
  padding-bottom: 200px;

  background-position: bottom;
}
.img3:hover {
  transform: scale(1.1);
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#myFooter {
	background-color: #090c11;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;

}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */




.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter{
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}
</style>




<div class="container-fluid">
<div class="parallax">
<div class="intro">
<!-- <p> M Klabu </p> -->
<p>Take no chances on your night life</p>
<p></p>

</div>
</div>



<div class="container">
  <a href="store">
<div class="img1">
  <h2><div class="club">Clubs</div></h2>
</div>
</a>


<a href="categories">
  <div class="img3">
    <h2><div class="club">Categories</div></h2>
  </div>
</a>

<a href="https://www.google.co.ke/maps/search/best+clubs+in+nairobi/@-1.2777343,36.8113282,14.86z?hl=en&hl=en">
<div class="img2">
<h2><div class="map">Maps</div></h2>
</div>
</a>
</div>

<!-- <div class="col-md-6b">
    <div class="img2"><img src="http://www.hangout.co.ke/wp-content/uploads/bfi_thumb/sky-6c3g9wq4i28yq9vag485gyp404hfjyg7u68ywgxw1nv.jpg" /></div>
</div> -->
    <!-- <img src="https://afktravel.com/wp-content/uploads/2016/01/lagos-nightclub-normal.jpg" />
    <img src="https://eatout2.scdn5.secure.raxcdn.com/images/restaurant_gallery/3749-728-1450168853.jpg" />
    <img src="https://afktravel.com/wp-content/uploads/2016/01/lagos-nightclub-normal.jpg" /> -->

</div>





<!-- this displays the home page -->
