<style media="screen">
body{background-image: url("http://cdn.wallpapersafari.com/47/40/GgvzpA.jpg");


}

</style>
{{animate-text}}


<body>
  <footer>  {{#link-to 'admin'}}Admin {{/link-to}}</footer>
</body>


<!-- this displays the home page -->
